<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Welcome To 2048</title>

  <link href="css/style/main.css" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="apple-touch-icon" href="meta/apple-touch-icon.png">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div class="container">
    <div class="heading">
      <h1 class="title">Welcome To 2048</h1>
      <div class="scores-container">
        <div class="score-container">0</div>
        <div class="best-container">0</div>
      </div>
    </div>

    <div class="above-game">
      <p class="game-intro">Search randomly through the void for the <strong>Cecil tile</strong></p>
      <a class="restart-button">New Game</a>
    </div>

    <div class="game-container">
      <div class="game-message">
        <p></p>
        <div class="lower">
	        <a class="keep-playing-button">Keep going</a>
          <a class="retry-button">Try again</a>
        </div>
      </div>

      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
      </div>

      <div class="tile-container">

      </div>
    </div>
	

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
    <p class="game-explanation">
      <strong class="important">How to play:</strong> Use your <strong>arrow keys</strong> to move the tiles. When two tiles with the same image touch, they <strong>merge into one!</strong>
    </p>
    <hr>
    <p>
    </p>
    <hr>
    <p>
    Plucked from the dead corpse of <a href="http://gabrielecirulli.com" target="_blank">Gabriele Cirulli</a> by <a href="http://andrewthewhip.tumblr.com">Andrew Whipple.</a> Recounted from the nightmares of  <a href="https://itunes.apple.com/us/app/1024!/id823499224" target="_blank">1024 by Veewo Studio</a> and conceptually similar to <a href="http://asherv.com/threes/" target="_blank">Threes by Asher Vollmer.</a>
	<br>
	Featuring the lovely art work of these people: 
	<a href="http://heyitsjono.deviantart.com/art/Welcome-to-Night-Vale-GIF-390172610">HeyItsJono</a>, <a href="http://jackie-lyns.tumblr.com/post/59056382631/i-couldnt-resist-drawing-night-vales-favorite">Jackie-Lyn</a>, <a href="http://cecilost.tumblr.com/post/69191947351/vote-for-the-faceless-old-woman-that-lives-in-your">cecilost</a>, 
	<a href="http://shibert.tumblr.com/post/56414806640/got-a-couple-of-requests-for-the-apache-tracker">shibert</a>, 
	<a href="http://lindbloem.deviantart.com/art/Old-Woman-Josie-and-Her-Angels-387471451">lindbloem</a>, 
	<a href="http://nardacci.tumblr.com/post/65762079171/megan-loves-computer-computer-simulates-love-for">nardacci</a>, 
	<a href="http://steammmpunk.tumblr.com/post/57496310743/welcome-to-night-vale-the-man-in-the-tan-jacket">steammmpunk</a>, 
	<a href="http://www.pinterest.com/pin/171488698285259027/">Unknown</a>, 
	<a href="http://kurzz.tumblr.com/post/55367679592/shouts-really-loudly-about-welcome-to-night-vale">kurzz</a>, 
	<a href="http://sashkash.tumblr.com/post/57217594747">sashkash</a>.
		
	<a href="https://twitter.com/AndrewTheWhip" class="twitter-follow-button" data-show-count="false">Follow @AndrewTheWhip</a>
	
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://nightvale2048.herokuapp.com" data-text="Search through the void for Cecil in Night Vale 2048" data-via="AndrewTheWhip">Tweet</a>
	
		
    </p>
  </div>

  <script src="js/bind_polyfill.js"></script>
  <script src="js/classlist_polyfill.js"></script>
  <script src="js/animframe_polyfill.js"></script>
  <script src="js/keyboard_input_manager.js"></script>
  <script src="js/html_actuator.js"></script>
  <script src="js/grid.js"></script>
  <script src="js/tile.js"></script>
  <script src="js/local_storage_manager.js"></script>
  <script src="js/game_manager.js"></script>
  <script src="js/application.js"></script>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  </script>	
  
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48462411-3', 'nightvale2048.herokuapp.com');
    ga('send', 'pageview');

  </script>
 
</body>
</html>

